[dock]
# defines the icon size. min value is 24 max value 128
# default is 32 pixels.
icon_size = 

# the dock location settings are top, right, bottom or left.
# command lime parameter --l right
# default bottom  
location = 

# the dock alignment settings are start, end, center or fill.
# command line parameter --r fill
# default center
alignment = 

# the dock autohide settings are none, autohide or intelihide
# default intelihide
autohide_mode = 

# define the style to use. If not set the default style will be use. 
style = style.dark_one

# this parameter defines the app indicator type
# valid types are dots or lines 
# default is dots
indicator_type = lines

[separator]
# the separator can be set with or without line
# true show the separator line otherwise set it to false
# default true
show_line = true

# set the vertical or horizontal separator size
# default 8
separator_size = 

# this parameter defines the default separator distance between icons.
# default value is 12. min value is 1 max value 30 pixels.
separator_margin = 6

# Styles
# http://doc.instantreality.org/tools/color_calculator
# fill		stroke	  linewidth,     radius,    bitmask
# r,g,b,a 	r,g,b,a       1 - 8,      0 - 8,       0 - 255
#	
[style.macos]
panel="0,0,0,0, 0,0,0,0 ,0, 0, 0

[style.blue_sky]
panel=0.0, 0.50, 0.66, 0.9 ,1, 1, 1, 0, 0,3,0
panel_cell=0.0, 0.50, 0.66, 1 ,2,5,0,0 ,0,3,0
panel_drag=1,1,1,0.4 ,1,1,1,1 ,2.5,3,0
panel_indicator=1,1,1,1 ,1,1,1,1 ,2,0,0

preview=0.0, 0.50, 0.66, 0.9 ,1, 1, 1, 0, 0,3,0
preview_cell=0.0, 0.50, 0.66, 1 ,2,5,0,0 ,0,3,0

[style.clear_light]
panel=0.8,0.8,0.8,1 ,0,0,0,0 ,0,3,0
panel_cell=0.8,0.8,0.8,1 ,0,0,0,0 ,0,0,0
panel_indicator=0,0,1,0.9 ,0,0,0,0 ,0,0,0
panel_drag=1,1,1,0.4 ,0,0,0,0.7 ,2.5,3,0

panel_separator=1,1,1,0 ,0,0,1,0.7 ,1,0,0

preview=0.8,0.8,0.8,1 ,0,0,0,0 ,0,3,0
preview_cell=0.8,0.8,0.8,1 ,0,0,1,0.8 ,1,0,0
preview_title_text=1,1,1,0.4 ,0,0,1,1, 1, 0, 0 

[style.dark_one]
panel=0.074, 0.098, 0.109,1 ,0,0,0,0 ,0,0,0
panel_cell=0.074, 0.098, 0.109,1 ,0,0,0,0 ,0,0,0
panel_indicator=1,1,1,1 ,0,1,1,1 ,2,0,0
panel_drag=1,1,1,0.4 ,1,1,1,0.7 ,2.5,0,0

preview=0.074, 0.098, 0.109,1 ,0,0,0,0 ,0,0,0
preview_cell=0.074, 0.098, 0.109,1 ,1,1,1,1 ,1,0,0

[style.heather]
panel=0.219, 0.419, 0.549,1 ,0,0,0,0, 0, 0, 0

[style.teal]
panel=0.250, 0.352, 0.407 ,1.0 ,0,0,0,0, 0, 0, 0
panel_cell=0,0,0,0, 1,1,1,0, 0, 0, 0
panel_drag=1,1,1,0.4 ,1,1,1,0.7 ,2.5,0,0
panel_indicator=1,1,1,1 ,0,1,1,1 ,2,0,0

preview=0.250, 0.352, 0.407 ,1.0 ,1,1,1,0, 2, 0, 0
preview_cell=1,1,1,0.2 ,1,1,1,0, 1.5, 0, 0
preview_title_text=1,1,1,0.4 ,1,1,1,1, 1, 0, 0 


[style.morum]
panel=0.309, 0.309, 0.309,1 ,1,1,1,0, 4, 6,0
panel_cell=0.309, 0.309, 0.309,1 ,0,0,0,0 ,0,0,0
panel_indicator=0.568, 0.992, 1,1 ,0,1,1,1 ,2,0,0

preview=0.309, 0.309, 0.309,1 ,1,1,1,0, 4, 6,0
preview_cell=0.309, 0.309, 0.309,1 ,0,0,0,0 ,0,0,0

[style.duque]
panel=0.176, 0.235, 0.274,1 ,1,1,1,0, 0, 0,0
panel_cell=0.176, 0.235, 0.274,1 ,1,1,1,0, 0, 0,0
panel_indicator=1,1,1,1 ,0,1,1,1 ,2,0,0
panel_drag=1,1,1,0.4 ,1,1,1,0.7 ,2.5,0,0

preview=0.176, 0.235, 0.274,1 ,1,1,1,0, 0, 0,0
preview_cell=0.176, 0.235, 0.274,1 ,1,1,1,1, 1, 0,0



[style.deep]
panel=0.074, 0.098, 0.109,1 ,1,1,1,0, 1, 0,0
panel_cell=0.074, 0.098, 0.109,1 ,1,1,1,1, 1, 0,0
panel_indicator=1,1,1,1 ,0,1,1,1 ,2,0,0
panel_drag=1,1,1,0.4 ,1,1,1,0.7 ,2.5,0,0

preview=0.074, 0.098, 0.109,1 ,1,1,1,1, 1, 0,0
preview_cell=0.074, 0.098, 0.109,1 ,1,1,1,1, 1, 0,0





