[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/yoo/_Desktop/Untitled Document]
row=0
col=0

[/home/yoo/_Desktop/Warhammer 40,000 Dawn of War II.desktop]
row=1
col=0

[/home/yoo/_Desktop/UPS Order]
row=2
col=0

