[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/yoo/Desktop/org.gnome.PackageUpdater.desktop]
row=2
col=1

[/home/yoo/Desktop/Untitled Document]
row=3
col=1

[/home/yoo/Desktop/info_desktop_file_search.txt]
row=1
col=1

[6e7beb44-fc04-45fb-ba91-dc34ee338ab9]
row=2
col=0

[54d16909-e1e1-4fdc-b1e5-735e7e3131ea]
row=5
col=0

[d60d1ff9-6bf8-44b3-b6a8-241dfa34894b]
row=0
col=0

[3bab7783-3bad-4f80-aca5-3a45255048b8]
row=3
col=0

[929863DF9863BFF9]
row=6
col=0

[b0db7765-bb77-4e8e-ba6a-749c137e505b]
row=1
col=0

[ba8e97fe-f3e2-427b-9a9d-360d22472f7e]
row=4
col=0

[EC0A-82E5]
row=7
col=0

[Trash]
row=8
col=0

[/]
row=4
col=1

[/home/yoo]
row=0
col=1

