[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/home/dumitru/Public/doublecmd/doublecmd
Name=DoubleCommander
Icon=/home/dumitru/Public/doublecmd/pixmaps/mainicon/dc_256.svg
