[Desktop Entry]
Name=Firefox
GenericName=Web Browser
Comment=Access the Internet
Exec=/home/dumitru/Public/firefox/firefox %U
Terminal=false
Type=Application
Icon=/home/dumitru/Public/firefox/browser/chrome/icons/default/default64.png
Categories=Network;WebBrowser;
StartupNotify=true
MimeType=text/html;text/xml;application/xhtml_xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
