[Desktop Entry]
Version=1.0
Type=Application
Name=LightDM GTK+ Greeter settings
Comment=Configure LightDM GTK+ Greeter
Icon=lightdm-gtk-greeter-settings
Exec=gksu lightdm-gtk-greeter-settings-pkexec
NoDisplay=false
Categories=GNOME;GTK;Settings;System;Utility;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
Keywords=Configuration;Utility;
StartupNotify=false
Terminal=false
