[Desktop Entry]
Version=1.0
Type=Application
Name=Customize Look and Feel
GenericName=Customize Look and Feel
Comment=Customizes look and feel of your desktop and applications
Icon=preferences-desktop-theme
Exec=lxappearance
NoDisplay=false
Categories=DesktopSettings;GTK;Settings;
Keywords=windows;preferences;settings;theme;style;appearance;
StartupNotify=true
Terminal=false
