[Desktop Entry]
Version=1.0
Type=Application
Name=Monitor Settings
Comment=Change screen resolution and configure external monitors
Icon=video-display
Exec=lxrandr
NoDisplay=false
Categories=GTK;HardwareSettings;Settings;
Keywords=screen;display;tv;extend;projector;xrandr;refresh rate;position;enable;disable;
StartupNotify=false
Terminal=false
