[Desktop Entry]
Version=1.0
Type=Application
Name=New Launcher
Icon=application-default-icon
NoDisplay=false
Categories=X-XFCE;X-Xfce-Toplevel;
StartupNotify=false
Terminal=false
