[Desktop Entry]
Version=1.0
Type=Application
Name=Synaptic Package Manager
GenericName=Package Manager
Comment=Install, remove and upgrade software packages
Icon=synaptic
Exec=gksu synaptic-pkexec
NoDisplay=false
Categories=GTK;PackageManager;Settings;System;
StartupNotify=false
Terminal=false
