[Desktop Entry]
Version=1.0
Type=Application
Name=Set keyboard mapping
GenericName=Set keyboard mapping
Comment=Set keyboard mapping
Icon=preferences-desktop-keyboard
Exec=xkmap
NoDisplay=false
Categories=Settings;GTK;
Keywords=keyboard;preferences;settings;layout;mapping;
StartupNotify=true
Terminal=false
